.icon{
    width: var(--unit-size);
    height: var(--unit-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:.2s;
    cursor: pointer;
} 

.icon:hover{
    background: var(--hover-bg);
}
.icon.active{
    background: var(--active-bg);
}
.icon.top{
    align-self: flex-start;
}
/* margin-top: auto; */
.icon.bottom{
    align-self: flex-end;
}

.icon-grow{
    flex-grow: 1;
}

.icon-br{
    height: calc(var(--unit-size) / 2);
}

.icon i{
    font-size: 23px;
    color: var(--active-bg);
}

.icon i{
    color: rgba(255,255,255,.5);
}

.icon.logo i{
    font-size: 14px;
    margin-bottom: 5px;
    color: #c9546f;
}
.icon.logo span{
    font-size: 12px;
    color: #c9546f;
}

.icon.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background:black;
}

.fa-facebook {
    color: #3b5998
}

.fa-youtube {
    color: #ff0000
}

.fa-viber {
    color: #12af0a
}

.fa-telegram {
    color: #2ca5e0
}